#  Consignes

## Description

Ouvrir le fichier ks-projects-201801.csv, il recense environ 100 000 projets KickStarter. Intégrer les données directement avec L'API Python dans une base de données Mongo. 

Il conviendra de bien spécifier manuellement l'ID du document. Pensez aussi à bien formatter le type des données pour profiter des méthodes implémentées par Mongo. L'ensemble de données n'est pas forcément nécessaire, c'est à vous de créer votre modèle de données.

## Questions

- 1) Récupérer les 5 projets ayant reçu le plus de promesse de dons.
- 2) Compter le nombre de projets ayant atteint leur but.
- 3) Compter le nombre de projets pour chaque catégorie.
- 4) Compter le nombre de projets français ayant été instanciés avant 2016.
- 5) Récupérer les projets américains ayant demandé plus de 200 000 dollars.
- 6) Compter le nombre de projet ayant "Sport" dans leur nom

In [42]:
import pandas as pd
import pymongo

In [43]:
client = pymongo.MongoClient("mongo")
database = client['exercices']
collection = database['kickstarter']

In [44]:
df_ks = pd.read_csv("./data/ks-projects-201801-sample.csv",encoding='utf-8')
df_ks.head()

/root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,8,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real
0,872782264,"Scott Cooper's Solo CD ""A Leg Trick"" (Canceled)",Rock,Music,USD,2011-09-16,2000,2011-08-17 06:31:31,1145,canceled,24,US,1145,1145.000000
1,1326492673,Ohceola jewelry,Fashion,Fashion,USD,2012-08-22,18000,2012-07-23 20:46:48,1851,failed,28,US,1851,1851.000000
2,1688410639,Sluff Off & Harald: Two latest EGGs are Classi...,Tabletop Games,Games,USD,2016-07-19,2000,2016-07-01 21:55:54,7534,successful,254,US,3796,7534.000000
3,156812982,SketchPlanner: Create and Plan- all in one bea...,Art Books,Publishing,USD,2017-09-27,13000,2017-08-28 15:47:02,16298,successful,367,US,2670,16298.000000
4,1835968190,Proven sales with custom motorcycle accessories,Sculpture,Art,CAD,2016-02-24,5000,2016-01-25 17:37:10,1,failed,1,CA,0.708148,0.738225

Ce warning intervient lorsque pandas n'arrive pas à inférer le type de données. Il est sympa il précise les colones 6,8,10,12.

In [45]:
df_ks.columns[[6,8,10,12]]

Index(['goal', 'pledged', 'backers', 'usd pledged'], dtype='object')

In [46]:
df_ks['goal']=df_ks['goal'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['pledged']=df_ks['pledged'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['backers']=df_ks['backers'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['usd pledged']=df_ks['usd pledged'].apply(lambda x: pd.to_numeric(x, errors='coerce',downcast='float'))
print(df_ks.isna().sum().sum())

1485
1486
1487
1488

## Question 0

### Netoyer les données

In [47]:
df_ks.shape

(150000, 14)

In [48]:
df_ks.dropna(axis=0,inplace=True)

In [49]:
df_ks.isna().sum().sum()

0

In [50]:
df_ks.shape

(148515, 14)

In [51]:
df_ks.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real'],
      dtype='object')

In [52]:
df_ks.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers             float64
country              object
usd pledged         float64
usd_pledged_real    float64
dtype: object

In [60]:
import json
header=['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real']


#df=pd.read_json("./data/ks-projects-201801-sample.json")

for i in range(2) : 
    j=df_ks.loc[i, header]
    a=j.to_dict()
    a['ID']=int(a['ID'])
    
    
    collection.insert_one(a)
    
    
    
    
    
    
    
    #"row={}
    #"for field in header:
      # "" row[field]=each[field]

    #"#""collection.insert_one(row)""

### Importer les données

import json
import pymongo
import pandas as pd
myclient = pymongo.MongoClient()

import pandas
import random

n = 1000000 #number of records in file
s = 100 #desired sample size
filename = "data/ks-projects-201801-sample.csv"
skip = sorted(random.sample(range(n),n-s))
df = pandas.read_csv(filename, skiprows=skip)   # loading csv file
df.to_json('ks-projects-201801-sample')                               # saving to json file
jdf = open('ks-projects-201801-sample.json').read()                        # loading the json file 
data = json.loads(jdf)

r,c=df_ks.shape

import pandas as pd
import numpy as np
import csv
import json
import pandas as pd
import sys, getopt, pprint
csvfile = open("./data/ks-projects-201801-sample.csv", 'r')
df_ks = csv.DictReader( csvfile )
 
df_ks['goal']=df_ks['goal'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['pledged']=df_ks['pledged'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['backers']=df_ks['backers'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
print(df_ks.isna().sum().sum())
df_ks['usd pledged']=df_ks['usd pledged'].apply(lambda x: pd.to_numeric(x, errors='coerce',downcast='float'))
print(df_ks.isna().sum().sum())

df_ks.dropna(axis=0,inplace=True)

df_ks.isna().sum().sum()
    
header= ['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real']


for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    collection.insert_one(row)

In [61]:
collection.find_one()

{'_id': ObjectId('5fc0f4a1e9c6ebd4718869ad'),
 'ID': '872782264',
 'name': 'Scott Cooper\'s Solo CD "A Leg Trick" (Canceled)',
 'category': 'Rock',
 'main_category': 'Music',
 'currency': 'USD',
 'deadline': '2011-09-16',
 'goal': '2000.0',
 'launched': '2011-08-17 06:31:31',
 'pledged': '1145.0',
 'state': 'canceled',
 'backers': '24',
 'country': 'US',
 'usd pledged': '1145.0',
 'usd_pledged_real': '1145.0'}

In [62]:
df_ks.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers             float64
country              object
usd pledged         float64
usd_pledged_real    float64
dtype: object

In [84]:
collection.aggregate({})

<ipython-input-84-7c4bc5758cb0>:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  collection.count()

946295

## Question 1

In [81]:
cur=collection.aggregate([{"$sort": { "backers": -1}}],
                       allowDiskUse= True)

next(cur)

{'_id': ObjectId('5fc0f4d7e9c6ebd47189eefb'),
 'ID': '562004892',
 'name': 'Andr? Josselin - Roadtrip Bildband: "Us"',
 'category': 'Photobooks',
 'main_category': 'Photography',
 'currency': 'EUR',
 'deadline': '2015-12-23',
 'goal': '7500.0',
 'launched': '2015-11-23 21:09:58',
 'pledged': '42521.03',
 'state': 'successful',
 'backers': '999',
 'country': 'DE',
 'usd pledged': '45272.7048950681',
 'usd_pledged_real': '46547.88777107576'}

In [88]:

cur=collection.aggregate([{"$sort": { "backers": -1},

SyntaxError: invalid syntax (<ipython-input-88-727146413be7>, line 2)

## Question 2

In [91]:
cur=collection.find({"backers":"successful"}).count_documents()

AttributeError: 'Cursor' object has no attribute 'count_documents'

## Question 3

## Question 4

## Question 5

## Question 6